:root {
  background-color: #000000;
  color: rgba(0, 0, 0, 0.57);
  color-scheme: dark;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}

/* video::-webkit-media-controls-play-button {
  display: none !important;
} */

video::-webkit-media-controls-panel {
  /* display: none !important; */
  opacity: 0.7 !important;
}


.video-player .plyr .plyr__controls:before {
  background-image: none;
}

video::-webkit-media-controls-panel {
  background-image: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #000000;
    color: #000000;
  }
}